@import 'tailwindcss';

:root {
    --background: #eafdff;
    --foreground: #0f172a;
    --accent: #7dbbff;
    --accent-strong: #CFFAFE;
    --accent-soft: #e7f2ff;
}

body {
    font-family: Urbanist, sans-serif;
}

.light-purple {
    color: var(--accent);
    opacity: 0.85;
}

.dark-purple {
    color: var(--accent-strong);
}

.bg-color {
    background-color: var(--accent-strong);
}

.confirm-button {
    background-color: var(--accent-strong);
}
.confirm-button:hover {

}

h1 {
    font-family: Urbanist, sans-serif;
}

h2 {
    font-family: Urbanist, sans-serif;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Urbanist, sans-serif;
}
